<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item> 
                <span>Enter Food Item</span>
            </button>
            <button mat-menu-item> 
                <span>Menu</span>
            </button>
            <button mat-menu-item> 
                <span>Food Item List</span>
            </button>
        </mat-menu>

        <span>PAGE TITLE (CHANGE USING ANGULAR FUNDAMENTAL SAMPLE)</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>
                            settings
                        </mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item> 
                            <mat-icon>logout</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>